:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body, div.App {
  width: 99vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #abb7c2;
}
body div.expanded, div.App div.expanded {
  min-height: 80vh;
}
body div.expanded textarea, div.App div.expanded textarea {
  resize: none;
  min-height: 80vh;
}
body div#edit-wrap, div.App div#edit-wrap {
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  display: inherit;
  flex-direction: inherit;
  border: 3px dashed cyan;
}
body div#edit-wrap div#edit-header, div.App div#edit-wrap div#edit-header {
  display: inherit;
  justify-content: space-around;
  place-items: center;
}
body div#edit-wrap div#edit-header h3, div.App div#edit-wrap div#edit-header h3 {
  display: inline;
  justify-self: center;
  margin: 20px auto;
}
body div#edit-wrap div#edit-header button, div.App div#edit-wrap div#edit-header button {
  height: 50%;
}
body div#edit-wrap label, div.App div#edit-wrap label {
  align-self: center;
  width: 95%;
  height: 80%;
}
body div#edit-wrap.hide, body div#preview-wrapper.hide, div.App div#edit-wrap.hide, div.App div#preview-wrapper.hide {
  display: none;
}
body div#preview-wrapper.expanded, div.App div#preview-wrapper.expanded {
  min-height: 100vh;
}
body div#preview-wrapper, div.App div#preview-wrapper {
  position: relative;
  width: 70%;
  min-width: 400px;
}
body div#preview-wrapper button, div.App div#preview-wrapper button {
  position: absolute;
  top: 37px;
  right: 60px;
}

div.App {
  margin: auto;
}

textarea {
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
}

pre code {
  display: inline-block;
  background-color: #42474b;
  color: #abb7c2;
  padding: 15px;
  margin: 5px auto;
}

footer {
  margin-top: auto;
  background: linear-gradient(to bottom, #abb7c2, #84aa8b);
  width: 100%;
  text-align: center;
  color: #4c2055;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1e2931;
  }
  a:hover {
    color: #717cf5;
  }
  button {
    background-color: #e9e9e9;
  }
}/*# sourceMappingURL=index.css.map */